@model HotelModel

<h1>Edytuj hotel</h1>

@*Formularz edycji hotelu*@
<form asp-action="Edit" method="post">
    
    <div class="form-group">
        <label>Opis:</label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Cena za noc:</label>
        <input type="text" class="form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Numer telefonu:</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Adres:</label>
        <input type="text" class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


