@model IEnumerable<HoteLove.Models.CommentModel>

<h5>Komentarze:</h5>
@foreach (var comment in Model)
{
        <div class="card">
            <div class="card-body">
                <p class="card-text">@comment.Content</p>
                <p class="card-text">Data dodania: @comment.CreatedAt</p>
            </div>
        </div>
}
