<div>
    <div class="container">
        <h1>Polityka prywatności</h1>

        <p>Twoja prywatność jest dla nas ważna. Poniżej przedstawiamy informacje na temat naszej polityki prywatności:</p>

        <h2>Zbieranie danych osobowych</h2>
        <p>Nasz serwis gromadzi następujące informacje osobowe:</p>
        <ul>
            <li>Imię i nazwisko</li>
            <li>Adres e-mail</li>
            <li>Numer telefonu</li>
        </ul>

        <h2>Wykorzystanie danych osobowych</h2>
        <p>Zebrane dane osobowe są wykorzystywane w następujący sposób:</p>
        <ul>
            <li>Do kontaktu z Tobą w celu odpowiedzi na Twoje zapytania.</li>
            <li>Do przesyłania informacji o naszych produktach i usługach.</li>
        </ul>

        <h2>Udostępnianie danych osobowych</h2>
        <p>Nie udostępniamy Twoich danych osobowych osobom trzecim bez Twojej zgody.</p>

        <h2>Prawa użytkowników</h2>
        <p>W związku z danymi osobowymi, przysługują Ci następujące prawa:</p>
        <ul>
            <li>Prawo dostępu do swoich danych osobowych.</li>
            <li>Prawo do sprostowania swoich danych osobowych.</li>
            <li>Prawo do usunięcia swoich danych osobowych.</li>
            <li>Prawo do ograniczenia przetwarzania swoich danych osobowych.</li>
        </ul>
    </div>
</div>

