@model HoteLove.Models.HotelModel

<div class="home-index-bg">
    <div class="container">
        <h1>Dodaj nowy Hotel</h1>

        <hr />
        @*Formularz tworzenia hotelu*@
        <div class="row mb-2 rounded-3 add-hotel-bg p-3">
            <div class="col-md-4">
                <form asp-action="Create" method="post">

                    <div class="form-group mb-3">
                        <label class="control-label" for="Name">Nazwa Hotelu</label>
                        <input class="form-control" type="text" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Location">Lokalizacja</label>
                        <input class="form-control" type="text" asp-for="Location" />
                        <span asp-validation-for="Location" class="text-danger"></span>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Description">Opis</label>
                        <textarea class="form-control" asp-for="Description" rows="4" style="width: 100%; height: 170px; resize: none" placeholder="Wpisz opis hotelu"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Price">Cena</label>
                        <input class="form-control" type="text" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="PhoneNumber">Numer Telefonu</label>
                        <input class="form-control" type="text" asp-for="PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Address">Adres</label>
                        <input class="form-control" type="text" asp-for="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Email">Email</label>
                        <input class="form-control" type="text" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <hr />
                    <div class="form-group mb-3">
                        <input type="submit" value="Dodaj" class="btn btn-primary" />
                    </div>
                </form>
            </div>


            <div class="col-md-7 offset-1 add-hotel-image rounded-4 mb-3 mt-3 ms-5">
            </div>
        </div>

    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}